* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* FONDO BARRA SCROLL */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 5px;
}

/* FONDO SCROLL */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* SELECTOR */
::-webkit-scrollbar-thumb {
    background: #D6C7F3;
    border-radius: 5px;
}

/* SELECTOR hover */
::-webkit-scrollbar-thumb:hover {
    background: #B0DFF5;
}

.scroll-container {
    display: flex;
    overflow-x: scroll;
    padding: 1rem;
    gap: 1rem;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.scroll-container::-webkit-scrollbar {
    height: 10px;
}
.img_prod img {
    max-width: 600px; /* Ajusta el tamaño máximo permitido */
    max-height: 600px; /* Ajusta el tamaño máximo permitido */
    width: auto; /* Mantiene la proporción */
    height: auto; /* Mantiene la proporción */
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.card {
    width: 20rem;
    margin: 5px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(129, 129, 129, 0.5);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

.card-body .btn {
    margin-top: auto;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: contain !important;
}

.card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.card-price {
    font-size: 15pt;
    color: #5D3F8E;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

h1 {
    padding: 10pt;
    font-size: 20pt;
    font-weight: 250;
}

/* Barra de navegación */
.nav-link {
    color: #5D3F8E !important; /* Color púrpura para que sea consistente */
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
    padding: 8px 12px;
    border-radius: 10px;
}
.nav-link:hover {
    border: none; /* Asegúrate de eliminar cualquier borde */
    box-shadow: none; /* Elimina sombras */
    outline: none; /* Elimina posibles contornos */
    background-color: transparent; /* Si el fondo cambia, hazlo transparente */
    color: #FF69B4 !important; /* Asegúrate de mantener el color que desees */
}


.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
    color: #5D3F8E;
}

.form-control {
    border-radius: 50px;
    color: #5D3F8E;
}

.buscar {
    border: none;
    border-radius: 30px;
}

.buscar i {
    font-size: 20pt;
    color: #5D3F8E;
}

/* Producto */
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product {
    width: 100%;
    height: auto;
    padding: 20px;
}

.product_details {
    height: 90%;
    max-width: 1200px;
    width: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #D6C7F3;
}

.product_basico {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.product_tit .titulo {
    font-size: 25pt;
    font-weight: bold;
    color: #5D3F8E;
}

.product_tit .stock p {
    font-size: 20pt;
}

.product_tit .price_product {
    font-size: 25pt;
    color: #5D3F8E;
    font-weight: bold;
}

.details_info {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.details_info .tit {
    font-size: 20pt;
    color: #5D3F8E;
    font-weight: 250;
    border-bottom: 1px solid #D6C7F3;
}

.details_info .especificaciones {
    padding: 10pt;
    font-size: 12pt;
}

@media screen and (max-width: 850px) {
    .product {
        padding: 2px;
    }

    .product_details {
        padding: 10px;
    }

    .product_basico {
        padding-bottom: 10px;
        flex-direction: column;
        align-items: center;
    }

    .product_tit .titulo {
        font-size: 15pt;
    }

    .product_tit .price_product {
        font-size: 20pt;
    }

    .details_info .tit {
        font-size: 18pt;
    }

    .details_info .especificaciones {
        padding: 10pt;
        font-size: 12pt;
    }
}
